<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Inventory Management System</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
			crossorigin="anonymous">
	</head>
	<body style="background-image: url('IMS.png');">
	<nav class="navbar navbar-dark" style="background-color:DarkSlateBlue;">
		<h3 style="color:white;">Inventory Management System</h3>
	</nav>
	
		<div class="container card p-3 mt-3 border-primary" style="opacity: 0.95;">
			<div class="row m-1">
				<h1> List Products</h1>
			</div>
			<!-- use this if add product button is not working
			<div>
				<a th:href="@{/products/new}" class="btn btn-primary">Add Product</a>
			</div>
			-->
			<div>
				<button th:href="@{/products/new}" class="btn btn-primary btn-lg mt-1 mb-1">Add Product</button>
			</div>
			
			<table class="table table-striped mt-1 text-center table-bordered">
				<thead class="table-dark" style="background-color:RebeccaPurple">
					<tr>
						<th> Product Id</th>
						<th> Product Name</th>
						<th> Price in Rs.</th>
						<th> Available Quantity</th>
						<th> Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each = "product: ${products}">
						<td th:text="${product.id}">
						<td th:text="${product.name}">
						<td th:text="${product.price}">
						<td th:text="${product.quantity}">
						<td>
							<!-- use this if button tag not work
							<a th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn-primary">Update</a>
							<a th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn-primary">Delete</a>
							-->
							<button th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn-primary" style="background-color:DarkOrange;">Update</button>
							<button th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn-primary" style="background-color:Red;">Delete</button>
							
						</td>
					</tr>
					<!-- Sample testing row
					<tr>
						<td>1</td>
						<td>Pencil</td>
						<td>10</td>
						<td>20</td>
						<td>
						<button th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn-primary" style="background-color:DarkOrange;">Update</button>
							<button th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn-primary" style="background-color:Red;">Delete</button>
							
						</td>
					</tr>
					-->
				</tbody>
			</table>
		</div>
	</body>
</html>

    
